/**
 * General
 * ----------------------------------------------------------------------------
 */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');*/
/*@import url(https://p.typekit.net/p.css?s=1&k=vnd5zic&ht=tk&f=39475.39476.39477.39478.39479.39480.39481.39482&a=18673890&app=typekit&e=css);
*/


@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}



@font-face {
	font-family: neo-sans;
	src: url(https://use.typekit.net/af/e8ba57/00000000000000003b9b2038/27/l?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/e8ba57/00000000000000003b9b2038/27/d?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/e8ba57/00000000000000003b9b2038/27/a?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
	font-style: normal;
	font-weight: 500
}


@font-face {
	font-family: neo-sans;
	src: url(https://use.typekit.net/af/8870bf/00000000000000003b9b203a/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/8870bf/00000000000000003b9b203a/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/8870bf/00000000000000003b9b203a/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
	font-style: normal;
	font-weight: 400
}

html {
  font-family: "open-sans",sans-serif;
  font-size: 100%;
}
body {
 /* background: _palette(bg);*/
  background-color:#f6f6f6;
  color: _palette(primary);
  line-height: 1.875;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  border-bottom: 1px solid currentColor;
  color: _palette(accent);
  text-decoration: none;
  -webkit-transition: border-color .3s ease, color .3s ease;
  transition: border-color .3s ease, color .3s ease;

  &:hover,
  &:focus {
    color: _palette(primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2.25rem 0 1.125rem;
  text-rendering: optimizeLegibility;
font-family: neo-sans, sans-serif!important;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin: 0 0 1.875em;
}

address {
  font-style: italic;
  margin: 0 0 1.875em;
}

mark,
ins {
  background: lighten(_palette(note),40%);
  color: _palette(secondary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: _palette(bg);
  border-radius: 3px;
  color: _palette(primary);
  font-family: _font(monospace);
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0 0 1.875rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

:not(pre) > code {
  background: _palette(bg);
  border-radius: 3px;
  font-size: 0.875rem;;
  padding: 0.1em;
  white-space: normal;
}

blockquote {
  border-left: 5px solid _palette(accent);
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 1.5em 0;
  padding-left: 1em;

  &:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: _palette(meta);
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.875em;
}

ul,
ol {
  margin: 0 0 1.875em;
  padding: 0 0 0 1.5em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid _palette(border);
  margin: 1.875em 0;
}

table {
  line-height: 1.5;
  margin: 0 0 1.875em;
  text-align: left;
  width: 100%;
}

caption {
  color: _palette(meta);
  font-size: 0.875rem;
  font-style: normal;
  margin-bottom: 0.75rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid _palette(border);
  padding: 0.5em 5px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

.post-content {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  tbody,
  thead {
    width: 100%;
  }

  tr {
    width: 100%;
  }

  td {
    min-width: 140px;
  }
}

/* Form fields */
label {
  font-weight: bold;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: transparent;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 3em;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background-color: _palette(accent);
  border: 3px solid _palette(accent);
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  height: 3.25em;
  letter-spacing: 0.025em;
  line-height: 1.5;
  padding: 0.25em 40px;
  -webkit-transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: _palette(accent);
    outline: 0;
  }
}

a.button {
  height: auto;
  padding-bottom: 0.64285em;
  padding-top: 0.64285em;
}

.button {
  &.secondary {
    background: transparent;
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: _palette(accent);
    }
  }
}

#menu-open,
#menu-close,
.docs-nav .docs-nav-toggle,
.docs-nav .submenu-toggle {
  background: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: _palette(meta);
}

:-moz-placeholder {
  color: _palette(meta);
}

::-moz-placeholder {
  color: _palette(meta);
  opacity: 1;
}

:-ms-input-placeholder {
  color: _palette(meta);
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.875em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

/* Notifications */
.note {
  background: lighten(_palette(note),40%);
  border-left: 5px solid _palette(note);
  border-radius: 5px;
  color: _palette(secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

.important {
  background: lighten(_palette(important),40%);
  border-left: 5px solid _palette(important);
  border-radius: 5px;
  color: _palette(secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

/* Background gradient */
.bg-gradient {
 /* background: _palette(accent);
  background: -webkit-linear-gradient(left,_palette(accent-alt), _palette(accent));
  background: linear-gradient(to right, _palette(accent-alt), _palette(accent));*/
  background-color:#f6f6f6;
}

/* Background Image */
.bg-img {
  -webkit-animation: fadeIn .75s ease-in-out;
  animation: fadeIn .75s ease-in-out;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  position: absolute;
  right: 0;
  top: 0;
}

/* Heading decoration */
.line-left {
  position: relative;

  &:before {
    background: _palette(accent);
    content: "";
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 5px;
  }
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-content:after {
  clear: both;
}

.post-content:before,
.post-content:after {
  content: "";
  display: table;
}












/*! CSS Used from: Embedded */

a {
  background-color: transparent;

  &:active, &:hover {
    outline: 0px;
  }
}

img {
  border: 0px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

::selection {
  background: rgba(79, 101, 241, 0.25);
}

h4 {
  margin-top: 16px;
  margin-bottom: 10px;
  color: rgb(66, 76, 85);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

a {
  color: rgb(79, 101, 241);
  text-decoration: none;

  &:hover {
    color: rgb(67, 81, 232);
  }
}

img {
  display: inline-block;
  max-width: 100%;
}

.rc-paragraph {
  color: rgb(63, 67, 88);
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  text-align: left;
}

.rc-icon-white {
  fill: rgb(255, 255, 255);
}

/*! CSS Used from: Embedded */

.r-card-body {
  margin-top: -4px;
  padding-right: 0px;
  padding-left: 20px;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}

.r-grid-flex {
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  place-content: stretch flex-start;
  place-items: flex-start stretch;
  -webkit-box-align: start;
  grid-auto-columns: 1fr;
  gap: 20px;
  grid-template-areas: ". . ." ". . ." ". . .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.r-grid-item {
  position: relative;
  display: block;
  width: 100%;
  height: 128px;
  max-width: 100%;
}

.r-card {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  align-self: stretch;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(228, 232, 238) 0px 0px 0px 0.5px;
  transition: transform 360ms cubic-bezier(0.585, 0.188, 0, 0.989) 0s, box-shadow 160ms cubic-bezier(0.351, 0.106, 0.25, 1) 0s, -webkit-transform 360ms cubic-bezier(0.585, 0.188, 0, 0.989) 0s;
}

.r-icon {
  width: 56px;
  height: 56px;
}

.r-card-head {
  position: relative;
  display: flex;
  width: 90px;
  height: 88px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(320deg, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.1));

  &.r-color-light-green {
    background-color: rgb(15, 224, 182);
    box-shadow: rgb(15, 224, 182) 0px 10px 20px -16px;
  }

  &.r-color-light-blue {
    background-color: rgb(0, 204, 255);
    box-shadow: rgb(0, 204, 255) 0px 10px 20px -16px;
  }

  &.r-color-dark-blue {
    background-color: rgb(79, 101, 241);
    box-shadow: rgb(79, 101, 241) 0px 10px 20px -16px;
  }

  &.r-color-yellow {
    background-color: rgb(255, 218, 93);
    box-shadow: rgb(255, 218, 93) 0px 10px 20px -16px;
  }

  &.r-color-red {
    background-color: rgb(252, 66, 116);
    box-shadow: rgb(252, 66, 116) 0px 10px 20px -16px;
  }

  &.r-color-purple {
    background-color: rgb(122, 73, 255);
    box-shadow: rgb(122, 73, 255) 0px 10px 20px -16px;
  }

  &.r-color-orange {
    background-color: rgb(255, 193, 93);
    box-shadow: rgb(255, 193, 93) 0px 10px 20px -16px;
  }

  &.r-color-indigo {
    background-color: rgb(38, 66, 241);
    box-shadow: rgb(38, 66, 241) 0px 10px 20px -16px;
  }
}

.r-card-ul-hidden {
  overflow: hidden;
  height: 72px;
  padding-left: 0px;
  list-style-type: none;
}

.r-card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: auto;
  font-family: neo-sans, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
}

@media (max-width: 991px) {
  .r-grid-flex {
    -webkit-box-pack: center;
    place-content: start center;
    place-items: start stretch;
    -webkit-box-align: start;
    grid-template-areas: "." "." "." ".";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
}

@media (max-width: 767px) {
  .r-grid-flex {
    max-width: 680px;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 16px;
    grid-template-areas: ". ." ". ." ". .";
    grid-template-rows: auto auto auto;
  }

  .r-icon {
    height: 52px;
    width: 52px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .r-card {
    width: 100%;
    margin-right: 0px;
    padding: 16px;
  }

  .r-card-head {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 4px;
  }

  .r-card-body {
    padding-left: 16px;
  }
}

@media (max-width: 479px) {
  .r-card-ul-hidden {
    height: auto;
  }

  .r-grid-flex {
    padding-right: 0vw;
    padding-left: 0vw;
    justify-items: center;
    grid-template-areas: "." "." "." "." "." "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
  }

  .r-icon {
    display: none;
    margin-right: 0px;
  }

  .r-grid-item {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .r-card-body {
    margin-top: 0px;
  }

  .r-card-head {
    width: 100%;
    height: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px 2px 0px 0px;
  }

  .r-card-title {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
  }

  .r-card {
    width: 100%;
    height: auto;
    min-height: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition-property: none;

    &:hover {
      box-shadow: rgb(228, 232, 238) 0px 0px 0px 0.5px;
      transform: none;
    }
  }
}
